{% load i18n %}

{% comment %}
TODO : delete this template in the next major release
This template will not exist anymore in the next release. Please do not use it.
See docs about PYBB_MARKUP_ENGINES_PATHS setting and pybb.markup.bbcode.py
{% endcomment %}

<script type="text/javascript" src="{% static 'markitup/ajax_csrf.js' %}"></script>
<script type="text/javascript" src="{% static 'markitup/jquery.markitup.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'markitup/skins/simple/style.css' %}">
{% with 'markitup/sets/'|add:PYBB_MARKUP|add:'/style.css' as style_static %}
<link rel="stylesheet" type="text/css" href="{% static style_static %}">
{% endwith %}
{% with 'markitup/sets/'|add:PYBB_MARKUP|add:'/set.js' as static_setjs %}
<script type="text/javascript" src="{% static static_setjs %}"></script>
{% endwith %}

<script type="text/javascript">
$(function() {
    mySettings['previewParserPath'] = '{% url 'pybb:post_ajax_preview' %}';
    mySettings['previewPosition'] = 'before';
    mySettings['resizeHandle'] = true;
    mySettings['markupSet'] = [
        {name:'{% trans "Bold" as txt %}{{ txt|escapejs }}', key:'B', openWith:'[b]', closeWith:'[/b]'},
        {name:'{% trans "Italic" as txt %}{{ txt|escapejs }}', key:'I', openWith:'[i]', closeWith:'[/i]'},
        {name:'{% trans "Underline" as txt %}{{ txt|escapejs }}', key:'U', openWith:'[u]', closeWith:'[/u]'},
        {name:'{% trans "Stroke" as txt %}{{ txt|escapejs }}', key:'S', openWith:'[s]', closeWith:'[/s]'},
        {separator:'---------------' },
        {name:'{% trans "Picture" as txt %}{{ txt|escapejs }}', key:'P', replaceWith:'[img][![Url]!][/img]'},
        {name:'{% trans "Link" as txt %}{{ txt|escapejs }}', key:'L', openWith:'[url=[![Url]!]]', closeWith:'[/url]', placeHolder:'Your text to link here...'},
        {separator:'---------------' },
        {name:'{% trans "Bulleted list" as txt %}{{ txt|escapejs }}', openWith:'[list]\n', closeWith:'\n[/list]'},
        {name:'{% trans "Numeric list" as txt %}{{ txt|escapejs }}', openWith:'[list=[![Starting number]!]]\n', closeWith:'\n[/list]'},
        {name:'{% trans "List item" as txt %}{{ txt|escapejs }}', openWith:'[*] '},
        {separator:'---------------' },
        {name:'{% trans "Quotes" as txt %}{{ txt|escapejs }}', openWith:'[quote]', closeWith:'[/quote]'},
        {name:'{% trans "Code" as txt %}{{ txt|escapejs }}', openWith:'[code]', closeWith:'[/code]'},
        {separator:'---------------' },
        {name:'{% trans "Clean" as txt %}{{ txt|escapejs }}', className:"clean", replaceWith:function(markitup) { return markitup.selection.replace(/\[(.*?)\]/g, "") } },
        {name:'{% trans "Preview" as txt %}{{ txt|escapejs }}', className:"preview", call:'preview' }
    ];
    $('textarea:not([class="no-markitup"])').markItUp(mySettings);

    $('#emoticons a').click(function() {
        var emoticon = $(this).attr("title");
        $.markItUp({replaceWith: emoticon});
        return false;
    });
});
</script>
