{% extends 'pybb/base.html' %}
{% load i18n pybb_tags %}

{% block head %}
    {{ block.super }}
    {% include "pybb/markitup.html" %}
{% endblock head %}

{% block breadcrumbs %}
    {{block.super}} 
    {% pybb_link post.topic.forum.category %} /
    {% pybb_link post.topic.forum %} /
    {% pybb_link post.topic %}
{% endblock %}

{% block content %}

<h1>{% if forum %}{% trans "New topic" %}{% else %}{% trans "New reply" %}{% endif %}</h1>

{% include "pybb/add_post_form.html" %}
{% endblock content %}
