{% load i18n %}

<form class="post-form" action="{% if forum %}{% url pybb_add_topic forum.pk %}{% else %}{% url pybb_add_post topic.pk %}{% endif %}" method="post" enctype="multipart/form-data">
    <div class="preview-box" style="display: none">
        <div class="header">{% trans "Preview" %}</div>
        <div class="content"></div>
    </div>
    <fieldset>
        <legend>{% if forum %}{% trans "New topic" %}{% else %}{% trans "New reply" %}{% endif %}</legend>
        {{ form.as_p }}
        <p class="submit">
            <input type="submit" value="{% trans 'Submit' %}" />
            <input class="preview-button" type="button" value="{% trans 'Preview' %}" />
        </p>
    </fieldset>
</form>

<script type="text/javascript">
$(function() {
    $('.post-form .preview-button').click(function() {
        var raw_content = $.trim($('.post-form #id_body').val());

        args = {'content': raw_content, 'markup': '{{ current_markup }}'}
        $.post('{% url pybb_post_ajax_preview %}', args, function(data) {
            if (data.error) {
                alert(data.error);
            } else {
                $('.preview-box .content').html(data.content);
                $('.preview-box').show();
            }
        }, 'json');
    });

    var i = 0;
    $('#id_attachment').change(function(){
        i++;
        var filename = $(this)[0].files[0].fileName;
        var filesize = $(this)[0].files[0].fileSize / 1024;
        filesize = Math.round(filesize);
        var link = '<a href="javascript://" onclick="$(this).parent().remove()">{% trans "Remove" %}</a>'
        $(this).clone(true).insertAfter(this).hide().attr({id:'id_attachment'+i, name:'attachment'+i}).wrap('<div></div>').parent().append(filename+'('+filesize+'Kb) '+link);
        $(this).val('');
    });
});

</script>
