{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block content %}
<div class="crumbs">
{% if forum %}
    <a href="{% url pybb_index %}">{% trans "Root" %}</a> / {% pybb_link forum.category %} / {% pybb_link forum %}
{% else %}
    <a href="{% url pybb_index %}">{% trans "Root" %}</a> / {% pybb_link topic.forum.category %} / {% pybb_link topic.forum %} / {% pybb_link topic %}
{% endif %}
</div>

<h1>{% if forum %}{% trans "New topic" %}{% else %}{% trans "New reply" %}{% endif %}</h1>

<form action="{% if forum %}{% url pybb_add_topic forum.id %}{% else %}{% url pybb_add_post topic.id %}{% endif %}" method="post">
    <fieldset>
        <legend>{% if forum %}{% trans "New topic" %}{% else %}{% trans "New reply" %}{% endif %}</legend>
        {{ form.as_p }}
        <p><input type="submit" value="{% trans "Submit" %}" /></p>
    </fieldset>
</form>

{% endblock %}
