{% load i18n %}
{% load pybb_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <title>{% block title %}{{ PYBB_HEADER }}: {{ PYBB_TAGLINE }}{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link href="{{ PYBB_SKIN_MEDIA_URL }}css/style.css" type="text/css" rel="stylesheet" />
    <link rel="alternate" type="application/atom+xml" href="{% url pybb_feed "posts" %}" title="{% trans "Latest posts on forum" %}" />
    <link rel="alternate" type="application/atom+xml" href="{% url pybb_feed "topics" %}" title="{% trans "Latest topics on forum" %}" />
    <script type="text/javascript" src="{{ PYBB_MEDIA_URL }}js/jquery.js"></script>

    <!-- Highlightjs goodies -->
    <script type="text/javascript" src="{{ PYBB_MEDIA_URL }}js/highlight.js"></script>
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
    </script>
    <link type="text/css" rel="stylesheet" href="{{ PYBB_MEDIA_URL }}css/hljs_styles/idea.css" />

    {% block extra_meta %}{% endblock %}
    {% block head_extra %}{% endblock %}
</head>
<body>
    {% include 'pybb/head.html' %}

    <div class="content_box">
        <div class="content main-box">
        {% block content %}{% endblock %}
        </div>
    </div>

    {% include 'pybb/footer.html' %}
</body>
</html>
