<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <title>pybb demo</title>
    <meta name="description" content="pybb demo" />
    <meta name="keywords" content="pybb" />

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        
    <link href="{{ MEDIA_URL }}pybb/css/style.css" type="text/css" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" href="{% url pybb_feed "posts" %}" title="Last posts on forum" />
    <link rel="alternate" type="application/atom+xml" href="{% url pybb_feed "topics" %}" title="Last topics on forum" />
    <!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />-->
    <script type="text/javascript" src="{{ MEDIA_URL }}pybb/js/jquery.js"></script>
    <!--<script type="text/javascript" src="{{ MEDIA_URL }}pybb/js/rounded_corners.inc.js"></script>-->
    <!--<script type="text/javascript" src="{{ MEDIA_URL }}pybb/js/corners_init.js"></script>-->

    <!-- Highlightjs goodies -->
    <script type="text/javascript" src="{{ MEDIA_URL }}pybb/js/highlight.js"></script>
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
    </script>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}pybb/css/hljs_styles/idea.css" />

    <!-- Markitup goodies -->
    <!--<script type="text/javascript" src="{{ MEDIA_URL }}pybb/js/markitup/jquery.markitup.js"></script>-->
    <!--<script type="text/javascript" src="{{ MEDIA_URL }}pybb/js/markitup/sets/default/set.js"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}pybb/js/markitup/skins/markitup/style.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}pybb/js/markitup/sets/default/style.css" />-->
    <!--<script type="text/javascript">-->
        <!--mySettings = {	-->
            <!--onTab: {keepDefault: false, replaceWith:'    '},-->
            <!--//previewParserPath:  "/~/sets/bbcode/preview.php",-->
            <!--markupSet:  []-->
        <!--}-->
        <!--$(function() {-->
            <!--$('textarea').markItUp(mySettings);-->
        <!--});-->
    <!--</script>-->



    {% block extra_meta %}{% endblock %}
</head>
<body>
    {% include 'pybb/head.html' %}

    <div class="content_box">
        <div class="content main-box">
        {% block content %}{% endblock %}
        </div>
    </div>

    <div class="footer_box">
        <div class="footer main-box">
            <div class="inner">
                <div class="left copyright">&copy; <a href="http://pybb.org" title="PYBB - django forum engine">pybb.org</a>
                {% load orm_debug %}
                {% orm_debug %}
            </div>    
            <div class="right">
                <!--LiveInternet counter--><script type="text/javascript"><!--
                document.write("<a href='http://www.liveinternet.ru/click' "+
                "target=_blank><img src='http://counter.yadro.ru/hit?t24.6;r"+
                escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                ";"+Math.random()+
                "' alt='' title='LiveInternet: показано число посетителей за"+
                " сегодня' "+
                "border=0 width=88 height=15><\/a>")//--></script><!--/LiveInternet-->
            </div>
            <div class="clear"></div>
            </div>
        </div>
    </div>
</body>
</html>
