{% load i18n %}
{% load pybb_tags %}

<div class='category'>
    <h1>{{ category.name }}</h1>
    <div class="forum-row head-row">
            <div class="forum-name">
                {% trans "Forum" %}
            </div>
            <div class="forum-topic-count">
                {% trans "Topics" %}
            </div>
            <div class="forum-post-count">
                {% trans "Posts" %}
            </div>
            <div class="forum-last-post">
                {% trans "Last posts" %}
            </div>
    </div>
    {% for forum in category.forums_extended.all|pybb_forum_unread:request.user %}
        <div class="forum-row">
            <div class="forum-name {% if forum.unread %} unread {% endif %}">
                <a href='{{ forum.get_absolute_url }}'>{{ forum.name }}</a>
            </div>
            <div class="forum-topic-count">
                {{ forum.topic_count }}
            </div>
            <div class="forum-post-count">
                {{ forum.post_count }}
            </div>
            <div class="forum-last-post">
                {% if forum.last_post %}
                    {{ forum.last_post.created|date:"d.m.Y H.i" }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>