<div class='category'>
    <h1>{{ category.name }}</h1>
    {% for forum in category.forums.all %}
        <div class="forum-row">
            <div class="forum-name">
                <a href='{{ forum.get_absolute_url }}'>{{ forum.name }}</a>
            </div>
            <div class="forum-topic-count">
                {{ forum.topic_count }}
            </div>
            <div class="forum-post-count">
                {{ forum.post_count }}
            </div>
            <div class="forum-last-post">
                {% if forum.last_post %}
                    {{ forum.last_post.created|date:"d.m.Y H.i" }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>