{% extends 'pybb/base.html' %}
{% load pybb_tags %}
{% load i18n %}

{% block title %} {% trans "Editing the post" %} {% endblock title %}

{% block head %}
    {{ block.super }}
    {% include "pybb/markitup.html" %}
{% endblock head %}

{% block content %}
    <div class="crumbs">
    <a href="{% url pybb:index %}">{% trans "Root" %}</a> / {% pybb_link post.topic.forum.category %} / {% pybb_link post.topic.forum %} / {% pybb_link post.topic %}
    </div>

    <h1>{% trans "Editing the post" %}</h1>

    <form method="post" action=".">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Editing the post" %}</legend>
                {{ form.as_p }}
                <div id='emoticons'>
                    {% for smile, url in form.aviable_smiles.items %}
                        <a href='#' title='{{ smile|safe }}'><img src='{{ STATIC_URL }}{{ form.smiles_prefix }}{{ url }}'></a>
                    {% endfor %}
                </div>
                <p>
                {% if PYBB_BUTTONS.save %}
                    <input type='image' src="{{ STATIC_URL }}{{ PYBB_BUTTONS.save }}" alt='{% trans "Save" %}'>
                {% else %}
                   <input type="submit" value="{% trans 'Save' %}" />
                {% endif %}
                </p>
        </fieldset>
    </form>
{% endblock content %}
