{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block pybb_head_extra %}
    {% with post.markup as markup %}
    {% include "markitup_resources.html" %}
    {% endwith %}

    <script type="text/javascript">
    $(function() {
        $("textarea").markItUp(mySettings);
    });
    </script>
{% endblock %}

{% block pybb_content %}
<div class="crumbs">
<a href="{% url pybb_index %}">{% trans "Root" %}</a> / {% pybb_link post.topic.forum.category %} / {% pybb_link post.topic.forum %} / {% pybb_link post.topic %}
</div>

<h1>{% trans "Editing the post" %}</h1>

<form method="post" action=".">
    <fieldset>
        <legend>{% trans "Editing the post" %}</legend>
            {{ form.as_p }}
            <p><input type="submit" value="{% trans 'Save' %}" /></p>
    </fieldset>
</form>
{% endblock %}
