{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block content %}
<div class="crumbs">
<a href="{% url index %}">{% trans "Root" %}</a> / {% pybb_link post.topic.forum.category %} / {% pybb_link post.topic.forum %} / {% pybb_link post.topic %}
</div>

<h1>{% trans "Editing the post" %}</h1>

<form method="post">
    <fieldset>
        <legend>{% trans "Editing the post" %}</legend>
            {{ form.as_p }}
            <p><input type="submit" value="{% trans "Save" %}" /></p>
        </legend>
    </fieldset>
</form>

{% endblock %}
