{% extends 'pybb/base.html' %}

{% load url from future %}

{% load i18n pybb_tags %}

{% block title %}{% trans "Profile editing" %}{% endblock title %}

{% block content %}
    <h1>{% trans "Profile editing" %}</h1>
    {% include 'pybb/avatar.html' with user=user %}
    <form method="post" enctype="multipart/form-data" class="profile-edit">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Profile editing" %}</legend>
            {% include "pybb/form.html" %}
            <p>{% include "pybb/_button_save.html" %}</p>
        </fieldset>
    </form>
    <h1>{% trans "Subscriptions on topics" %}</h1>
    <ul>
        {% for sub_topic in user.subscriptions.all %}
            <form action="{% url 'pybb:delete_subscription' sub_topic.id %}" method="post">{% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <a href="{{ sub_topic.get_absolute_url }}">{{ sub_topic }}</a>
                <input type="submit" value="{% trans "Unsubscribe" %}">
            </form>
        {% endfor %}
    </ul>
{% endblock content %}
