{% load i18n %}
    <div class="footer_box">
        <div class="footer main-box">
            <div class="inner">
                <div class="left copyright">&copy; <a href="http://pybb.org" title="{% trans "PYBB - django forum engine" %}">pybb.org</a>
            </div>    
            <div class="right">
                <!--LiveInternet counter--><script type="text/javascript"><!--
                document.write("<a href='http://www.liveinternet.ru/click' "+
                "target=_blank><img src='http://counter.yadro.ru/hit?t24.6;r"+
                escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                ";"+Math.random()+
                "' alt='' title='LiveInternet: number of visitors"+
                " today' "+
                "border=0 width=88 height=15><\/a>")//--></script><!--/LiveInternet-->
            </div>
            <div class="clear"></div>
            </div>
        </div>
    </div>
