{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block content %}
<div class="crumbs">
    <a href="{% url index %}">{% trans "Root" %}</a> / {% link forum.category %} / {% link forum %}
</div>
<div class="splitted">
    <div class="left">
        <ul class="tablist">
            <li class="tablist-row last">
                <h3 class="header">{{ forum }}</h3>
                <ul class="tablist-inner topic">

                {% for topic in sticky_topics|pybb_unreads:user %}
                <li class="tablist-inner-row topic sticky">
                {% if topic|has_unreads:user %}<span class="unread"></span>{% endif %}
                {% trans "Important" %}:
                <span class="title">{% link topic %}</span>
                <span class="post_count">{{ topic.post_count }}</span>
                <span class="updated">{% pybb_time topic.updated %}</span>
                </li>
                {% endfor %}

                {% for topic in topics|pybb_unreads:user %}
                <li class="tablist-inner-row topic">
                {% if topic|has_unreads:user %}<span class="unread"></span>{% endif %}
                {% if topic.closed %}{% trans "Closed" %}{% endif %}
                <span class="title">{% link topic %}</span>
                <span class="post_count">{{ topic.post_count }}</span>
                <span class="updated">{% pybb_time topic.updated %}</span>
                </li>
                {% endfor %}

                </ul>
            </li>
        </ul>
        {% pagination %}
        <div class="controls">
            <a href="{% url add_topic forum.id %}">{% trans "New topic" %}</a>
        </div>
    </div>
    <div class="right">
        {% include 'pybb/quick_access.html' %}
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
