{% extends 'pybb/base.html' %}
{% load pybb_tags i18n %}

{% block title %}{{ forum.name }} - {% trans 'Subscription management' %}{% endblock title %}

{% block breadcrumb %}
    {% include "pybb/breadcrumb.html" with object=forum extra_crumb=_('Subscription management') %}
{% endblock %}

{% block content %}
    <div class="forum_subscription">

        <h1>{{ forum.name }} - {% trans 'Subscription management' %}</h1>

        <h2>{% trans 'Forum subscription' %}</h2>

        <form class="forum_subscription" action="" method="POST">
            {% include 'pybb/form.html' with form=form %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}">
            <a class="btn btn-secondary" href="{{ forum.get_absolute_url }}">{% trans 'Back to forum' %}</a>
        </form>

        <h2>{% trans 'Topic subscriptions' %}</h2>

        <div>
            {% for sub_topic in user.subscriptions.all %}
                {% if sub_topic.forum == forum %}
                    <form action="{% url 'pybb:delete_subscription' sub_topic.id %}" method="post">{% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <a href="{{ sub_topic.get_absolute_url }}">{{ sub_topic }}</a>
                        <input type="submit" value="{% trans "Unsubscribe" %}">
                    </form>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
