{% extends 'pybb/base.html' %}
{% load pybb_tags i18n %}

{% block title %}
{{ forum }}
{% endblock title %}


{% block content %}
    <div class="crumbs">
        <a href="{% url pybb_index %}">{% trans "Root" %}</a> / {% pybb_link forum.category %} / {% pybb_link forum %}
    </div>
    <h1>{{ forum.name }}</h1>
    <div class='topic-list'>
        {% for topic in forum.topics.all  %}
            <div class="topic-row">
                <div class="topic-name">
                    <a href='{{ topic.get_absolute_url }}'
                       class='
                        {% if topic.sticky %} sticky {% endif %}
                        {% if topic|pybb_topic_unread:user %} unread {% endif %}'
                     >
                      {{ topic.name }}
                      {% if topic.closed %} [{% trans "Closed" %}] {% endif %}</a>
                    {% pybb_topic_mini_pagination topic %}
                </div>
                <div class="topic-post-count">
                    {{ topic.post_count }}
                </div>
                <div class="topic-view-count">
                    {{ forum.views }}
                </div>
                <div class="topic-last-post">
                    {% if topic.updated %}
                        {{ topic.updated|date:"d.m.Y H.i" }}
                    {% endif %}
                </div>
            </div>
        {%  endfor %}
        {% with _('Topics') as label %}
            {% include "pybb/pagination.html" %}
        {% endwith %}

        {% if not user.pybb_profile.is_banned %}
            <div class="controls">
                <a href="{% url pybb_add_topic forum.id %}">{% trans "New topic" %}</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}