{% load pybb_extras %}
{% load i18n %}

<div class="head_box">
    <div class="head main-box">
        <div class="logo">
            <a href="{% url pybb_index %}">{{ PYBB_HEADER }}</a>
        </div>
        <ul class="navigation">
            <li><a href="#" onclick="$('.search_box').toggle(); return false;">{% trans "Search" %}</a></li>
            <li><a href="{% url pybb_users %}">{% trans "Users" %}</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url pybb_edit_profile %}">{% trans "My profile" %}</a></li>
            {% if user.is_superuser %}
            <li><a href="{% url admin:index %}">{% trans "Admin CP" %}</a></li>
            {% endif %}
            <li><a href="{% url auth_logout %}">{% trans "Log out" %}</a></li>
            <li>{% trans "Logged in as " %} {{ user|pybb_profile_link }}</li>
            {% else %}
            <li><a href="{% url registration_register %}">{% trans "Sign up" %}</a></li>
            <li><a href="{% url auth_login %}">{% trans "Log in" %}</a></li>
            {% endif %}
            <li><a href="{% url pybb_feed "posts" %}" ><img src="{{ MEDIA_URL }}/pybb/img/feed-icon-small.png" alt="feed" /></a></li>
        </ul>
        <div class="clear"></div>
        <h2 class="description">{{ PYBB_TAGLINE|safe }}</h2>
        <div class="clear"></div>
    </div>
</div>

<div class="search_box" style="display: none">
    <div class="search main-box">
        <script type="text/javascript">
            function pybb_search(form) {
                var query = $.trim($('.query', form).val());
                if (query) {
                    query = 'site:{{ request.get_host }} ' + query;
                    location.href = 'http://www.google.com/search?q=' + query;
                }
                return false;
            }
        </script>
        <form method="get" onsubmit="return pybb_search(this)" action="http://www.google.com/search">
            <div>
                <input type="text" class="query" />
                <input type="submit" value="{% trans "Search" %}" />
                <span class="comment">{% trans "Search powered by Google" %}</span>
            </div>
        </form>
    </div>
</div>

{% if PYBB_NOTICE %}
<div class="notice_box">
    <div class="notice main-box">
        <div class="inner">
            {{ PYBB_NOTICE|safe }}
        </div>
    </div>
</div>
{% endif %}
