{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load pybb_extras %}

{% block content %}
<div class="splitted">
    <div class="left">
        <ul class="tablist">
        {% for iter in cats %}
            <li class="tablist-row category corners">
                <h3 class="header">{% link iter.cat %}</h3>
                <ul class="tablist-inner">
                    {% for forum in iter.forums %}
                    <li class="tablist-inner-row forum">
                    {% include 'pybb/forum_row.html' %}
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="right">
        {% include 'pybb/quick_access.html' %}
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
