{% load i18n %}
<div class="pagination">

<script type="text/javascript">
    function jumpto() {
        var userInput=prompt('{% trans "Enter page number" %}','{{ page.number }}');
        if (userInput != '' && userInput != null) {
            location.href = '?page='+userInput;
        }
    }
</script>

    <span class="summary">{{ label }}
        {{ page.start_index }}&mdash;{{ page.end_index }}
        {% trans "of" %} {{ paginator.count }}</span>

    {% if page.has_other_pages %}
        &bull;

        <span class="pages-of" onclick="jumpto(); return false;"
        title="{% trans 'Go to page...' %}">
        {% trans "Page" %} {{ page.number }}
        {% trans "of" %} {{ paginator.num_pages }}</span>

        &bull;

        {% if page.first %}
        <a href="{{ page.first }}">1</a>
        <span>&#133;</span>
        {% endif %}

        {% for middle_item in page.middle %}
        {% ifequal page.number middle_item.0 %}
        <span class="current">{{ page.number }}</span>
        {% else %}
        <a href="{{ middle_item.1 }}">{{ middle_item.0 }}</a>
        {% endifequal %}
        {% endfor %}

        {% if page.last %}
        <span>&#133;</span>
        <a href="{{ page.last }}">{{ paginator.num_pages }}</a>
        {% endif %}

    {% endif %}

</div>
