{% load i18n pybb_tags %}
<form class="post-form" action="
    {% if forum %}
        {% url pybb:add_topic forum.pk %}
    {% else %}
        {% if topic %}
            {% url pybb:add_post topic.pk %}
        {% else %}
            {% url pybb:edit_post pk=object.pk %}
        {% endif %}
    {% endif %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
       <fieldset>
            {{ form.as_p }}
            <div id='emoticons'>
                {% for smile, url in form.aviable_smiles.items %}
                    <a href='#' title='{{ smile|safe }}'><img src='{{ STATIC_URL }}{{ form.smiles_prefix }}{{ url }}'></a>
                {% endfor %}
            </div>
            {% include "pybb/attachments_formset.html" %}
            <p class="submit">
                {% if PYBB_BUTTONS.submit %}
                    <input type='image' src="{{ STATIC_URL }}{{ PYBB_BUTTONS.submit }}" alt='{% trans "Submit" %}'>
                {% else %}
                   <input type="submit" value="{% trans 'Submit' %}" />
                {% endif %}
            </p>
    </fieldset>
</form>
