{% load pybb_extras %}
{% load i18n %}

<script type="text/javascript">
    function openTab(selector, mod) {
        var cls = '.' + mod;
        $('.tab-body').hide();
        $(cls).show();
        $('.tab-selector').removeClass('active');
        $(selector).addClass('active');
    }
</script>
<ul class="tablist quick-access">
    <li class="tablist-row last">
    <h3 class="header tab-selectors">
        <div class="tab-selector first active" onclick="openTab(this, 'last-topics')">{% trans "Last topics" %}</div>
        <div class="tab-selector" onclick="openTab(this, 'last-posts')">{% trans "Last posts" %}</div>
        <div class="tab-selector" onclick="openTab(this, 'stats')">{% trans "Statistics" %}</div>
        <div class="clear"></div>
    </h3>
    <ul class="tablist-inner tab-body last-topics">
        {% for topic in quick.last_topics|pybb_unreads:user %}
        <li class="tablist-inner-row forum">
        {% if topic|has_unreads:user %}<span class="unread"></span>{% endif %}
        {% link topic %}
        &rarr;
        <span class="author">{{ topic.user|profile_link }}</span>
        &rarr;
        <span class="updated">{% pybb_time topic.created %}</span>
        </li>
        {% endfor %}
    </ul>
    <ul class="tablist-inner tab-body last-posts" style="display: none">
        {% for post in quick.last_posts|pybb_unreads:user %}
        <li class="tablist-inner-row forum">
        {% if post.topic|has_unreads:user %}<span class="unread"></span>{% endif %}
        {% link post.topic %}
        &rarr;
        <span class="author">{{ post.user|profile_link }}</span>
        &rarr;
        <span class="updated">{% pybb_time post.created %}</span>
        </li>
        {% endfor %}
    </ul>
    <ul class="tablist-inner tab-body stats" style="display: none">
        {% if quick.topics %}
        <li class="tablist-inner-row">{% trans "Topics" %}: {{ quick.topics }}</li>
        {% endif %}
        {% if quick.posts %}
        <li class="tablist-inner-row">{% trans "Posts" %}: {{ quick.posts }}</li>
        {% endif %}
        {% if quick.users %}
        <li class="tablist-inner-row">{% trans "Users" %}: {{ quick.users }}</li>
        {% endif %}
        </table>
    </ul>
    </li>
</ul>
