{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block content %}
<div class="crumbs">
    <a href="{% url index %}">{% trans "Root" %}</a> / {% link topic.forum.category %} / {% link topic.forum %} / {% link topic %}
</div>
<ul class="tablist">
    <li class="tablist-row postlist-row">
        <h3 class="header">{{ topic }}</h3>
        <ul class="tablist-inner">
        {% for post in posts %}
            <a name="post-{{ post.id }}"></a>
            <li class="tablist-inner-row post">
                <div class="post-inner">
                    <table>
                        <tr>
                            <td class="info" width="15%">
                                {% if post.user.pybb_profile.avatar %}
                                <div class="avatar">
                                    <a href="{% url pybb_profile post.user %}">
                                    <img src="{{ post.user.pybb_profile.avatar.url }}" />
                                    </a>
                                </div>
                                {% endif %}
                                <div class="author">{{ post.user|profile_link }}</div>
                                {% if user.is_superuser %}
                                <!--<div class="updated">{{ post.user_ip }}</div>-->
                                {% endif %}
                                <div class="bottom">
                                    <a class="permalink" href="{{ post.get_absolute_url }}">#</a>
                                    <span class="updated">{{ post.created|pybb_time }}</span>
                                </div>
                                <div class="post-controls">
                                    {% if moderator or post|pybb_posted_by:user %}
                                    <a href="{% url edit_post post.id %}">{% trans "Edit" %}</a>
                                    {% endif %}
                                    {% if moderator or post|pybb_equal_to:last_post %}
                                    {% if moderator or post.user|pybb_equal_to:user %}
                                    / <a onclick="return confirm('{% trans "Are you sure you want to delete this post?" %}')" href="{% url delete_post post.id %}">{% trans "Delete" %}</a>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                            <td class="content" width="85%">
                                {{ post.body_html|safe }}
                                {% if not user.is_authenticated or user.pybb_profile.show_signatures %}
                                {% if post.user.pybb_profile.signature %}
                                <div class="signature">
                                    {{ post.user.pybb_profile.signature|urlize|linebreaks }}
                                </div>
                                {% endif %}
                                {% endif %}
                                {% if post.updated %}
                                <div class="updated-message">{% trans "Edited" %} {{ post.updated|pybb_time }}</div>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                                <!--<div style="clear: both"></div>-->
                </div>
            </li>
        {% endfor %}
        </ul>
    </li>
</ul>

{% pagination %}

<div class="controls">
    {% if moderator %}
    {% if topic.sticky %}
    <a href="{% url unstick_topic topic.id %}">{% trans "Unstick topic" %}</a>
    {% else %}
    <a href="{% url stick_topic topic.id %}">{% trans "Stick topic" %}</a>
    {% endif %}
    /
    {% if topic.closed %}
    <a href="{% url open_topic topic.id %}">{% trans "Open topic" %}</a>
    {% else %}
    <a href="{% url close_topic topic.id %}">{% trans "Close topic" %}</a>
    {% endif %}
    /
    {% endif %}
    {% if user.is_authenticated %}
    {% if subscribed %}
    <a href="{% url pybb_delete_subscription topic.id %}?from_topic">{% trans "Unsubscribe" %}</a>
    {% else %}
    <a href="{% url pybb_add_subscription topic.id %}">{% trans "Subscribe" %}</a>
    {% endif %}
    {% endif %}
</div>

{% if not topic.closed %}
<form action="{% url add_post topic.id %}" method="post">
    <fieldset>
        <legend>{% trans "New reply" %}</lenend>
            {{ form.as_p }}
            <p><input type="submit" value="{% trans "Submit" %}" /></p>
        </legend>
    </fieldset>
</form>
{% endif %}

{% endblock %}
