{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block content %}
<h1>{{ profile.username }}</h1>
<div class="userinfo">
    {% if profile.pybb_profile.avatar %}
    <div class="avatar">
        <img src="{{ profile.pybb_profile.avatar.url }}" />
    </div>
    {% endif %}
    <div class="info">
        <div class="label">{% trans "Statistics" %}</div>
        <div>{% trans "Number of posts" %}: {{ profile.posts.all.count }}</div>
        <div>{% trans "Number of topics" %}: {{ topic_count }}</div>
        <div>{% trans "Date of registration" %}: {% pybb_time profile.date_joined %}</div>
        <div class="label">{% trans "Contacts" %}</div>
        {% if profile.pybb_profile.location %}
        <div>{% trans "Location" %}: {{ profile.pybb_profile.location }}</div>
        {% endif %}
        {% if profile.pybb_profile.site %}
        <div>{% trans "Site" %}: {{ profile.pybb_profile.site|urlize }}</div>
        {% endif %}
        {% if profile.pybb_profile.icq %}
        <div>ICQ: {{ profile.pybb_profile.icq }}</div>
        {% endif %}
        {% if profile.pybb_profile.jabber %}
        <div>Jabber: {{ profile.pybb_profile.jabber }}</div>
        {% endif %}
        {% if profile.pybb_profile.yahoo %}
        <div>Yahoo: {{ profile.pybb_profile.yahoo }}</div>
        {% endif %}
        {% if profile.pybb_profile.msn %}
        <div>MSN: {{ profile.pybb_profile.msn }}</div>
        {% endif %}
        {% if profile.pybb_profile.aim %}
        <div>AIM: {{ profile.pybb_profile.aim }}</div>
        {% endif %}
    </div>
    <div class="clear"></div>
    {% if user.is_authenticated %}
    <div class="pm-link">
        <a href="{% url pybb_create_pm %}?recipient={{ profile.username }}">{% trans "Send PM" %}</a>
    </div>
    {% endif %}
</div>
{% endblock %}
