/* reset.css (thanks to blueprint)*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* pybb styles */
body {
    font: 0.9em Arial, sans-serif;
    color: #333;
    text-align: center;
}

.main-box {
    width: 970px;
    margin: 0 auto;
    text-align: left;
}

a {
    /*color: black;*/
    color: #33f;
}

a:hover {
    color: red;
}

li {
    margin-left: 1em;
}

.head_box {
    background-color: #444;
    margin-bottom: 1em;
}

.head_box .head {
    padding: 1em;
}

.head {
    color: #ccc;
}

.head a {
    color: #eee;
}

.head .logo {
    float: left;
}

.head .logo a {
    font-size: 2em;
    text-decoration: none;
}

.clear {
    clear: both;
}

.head .description {
    margin-left: 1em;
    padding-top: 0.5em;
    width: 25%;
    float: left;
}

.navigation {
    margin-left: 5em;
    padding-top: 0.5em;
    float: right;
    width: 50%;
    text-align: right;
    padding-right: 3em;
}

.navigation li {
    list-style-type: none;
    display: inline;
}

.navigation a {
}

a:hover {
    color: red;
}

label {
    font-weight: bold;
    display: block;
}

input, textarea {
    display: block;
}

textarea {
    padding-top: 0.1em;
    padding-left: 0.2em;
    font-size: 1.3em;
    width: 40em;
    height: 20em;
}

h1 {
    font-size: 1.5em;
    margin: 1em 0;
    padding: 0.2em 0.5em;
    background-color: #eee;
}

fieldset {
    border: 1px solid black;
    padding: 1em;
}

legend {
    margin-left: 2em;
    padding: 0 0.5em;
}

p {
    margin-bottom: 1em;
}

.errorlist li {
    list-style-type: none;
    color: red;
    margin-left: 0;
    font-weight: bold;
}

.tablist .header {
    background-color: #eee;
    padding: 0.5em;
    font-size: 1.2em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #666;
}

.tablist .header a {
    color: #666;
}

.tablist a {
    color: black;
}

.quick-access .tablist-row a {
    color: #33f;
}

.tablist li, .tablist-inner li {
    list-style-type: none;
    margin-left: 0;
}

.tablist-row {
    border: 1px solid #ccc;
    margin-bottom: 2em;
}

.tablist li.last {
    margin-bottom: 0.5em;
}

.controls {
    margin-bottom: 1em;
}

.tablist-inner-row {
    padding: 0.5em;
}

.tablist a {
}

.footer {
    font-size: 0.8em;
}

.footer .left {
    float: left;
    width: 50%;
}

.footer .right {
    float: right;
    width: 50%;
    text-align: right;
}

.crumbs a {
    font-size: 0.9em;
    color: black;
}

.crumbs {
    margin-bottom: 0.7em;
}

.crumbs strong a {
    font-size: 1.2em;
    color: #666;
}

.post {
    color: black;
    margin-bottom: 1em;
    list-style-type: none;
    margin-left: 0;
    border: 1px solid #ccc;
}

.post-inner {
}

.tablist-inner .post {
    background-color: #ddd;
}

.post .info {
    width: 15em;
    font-size: 0.8em;
    padding: 1em;
    background-color: #f8f8f8;
    vertical-align: top;
}


.post .info .author a {
    font-size: 1.0em;
    font-weight: bold;
    text-decoration: none;
}

.post .info .updated {
    padding-left: 0;
}

.post .content {
    padding: 1em;
    padding-left: 1.5em;
    color: black;
    font-size: Verdana, sans-serif;
    font-size: 0.9em;
    background-color: #efefef;
}

.post-odd .content {
    /*background-color: #D7F4DB;*/
}

.post-even .content {
    /*background-color: #E6EBF6;*/
}



.post .content br {
    margin-bottom: 0.2em;
}

.tablist-inner .post {
    padding: 0;
}


.postlist-row {
    border: none;
}

.postlist-row .header {
    margin-bottom: 0.3em;
}

.splitted .left {
    float: left;
    width: 48%;
}

.splitted .right {
    float: right;
    width: 48%;
}

.tab-selector {
    float: left;
    padding: 0.5em;
    cursor: pointer;
}

.tab-selectors .active {
    background-color: white;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    color: #444;
}

.tablist .tab-selectors .first {
    border-left: none;
}

.tablist h3.tab-selectors {
    padding: 0;
}

.quick-access .time {
    font-size: 0.8em;
}

.footer_box {
    margin-top: 2em;
    color: #444;
    border-top: 1px solid #ccc;
    background-color: #fafafa;
}

.footer_box a {
    color: #444;
}

.footer .inner {
    padding: 1em;
}

code {
    padding: 1em 1em 1em 1em;
}

pre {
    margin-bottom: 1em;
    border: 0.3em solid #f5f5f5;
}

.pagination {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.1em;
}

.pagination li {
    list-style-type: none;
    display: inline;
    margin-left: 0.1em;
}

.pagination li.active {
    font-weight: bold;
}

.post .permalink {
    color: #999;
    font-weight: bold;
    font-size: 1.2em;
    padding-right: 0.5em;
}

.post .info .bottom {
    margin-top: 1em;
}

.post_count {
    margin-left: 0.5em;
    padding: 0 0.5em;
    color: #337;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #f0f0f0;
}

.updated {
    padding-left: 0.5em;
    font-size: 0.8em;
    color: #666;
}

.signature {
    margin-top: 1em;
    padding-top: 0.5em;
    font-size: 0.8em;
    border-top: 1px dashed #bbb;
    color: #999;
}

.signature a {
    color: #999;
}

.ip {
    padding: 0.2em 0;
    font-size: 0.7em;
    color: #999;
}

.avatar {
    display: block;
    margin-bottom: 0.5em;
}

.avatar img {
    border: 1px solid #aaa;
}

.topic .tablist-inner-row a {
    color: #33f;
}

.unread {
    display: list-item;
    list-style-type: disc;
    float: left;
    list-style-position: inside;
    color: #f33;
    margin-right: -0.2em;
}

.post-controls {
    margin-top: 1em;
}

.post-controls a {
    color: #666;
    text-decoration: none;
    font-weight: bold;
}

.updated-message {
    font-weight: bold;
    color: #666;
    font-size: 0.9em;
    margin-top: 0.5em;
}

.forum .description {
    font-size: 0.9em;
}

.forum .title a {
    font-weight: bold;
    color: #333;
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
}

.sticky .title a {
    font-weight: bold;
}

.topic .title a {
    font-family: Helvetica, sans-serif;
    font-size: 1.0em;
    color: #333;
}

.author a, .quick-access .author a {
    color: #2a2;
    font-size: 0.9em;
}

.search input {
    display: inline;
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.search .query {
    width: 20em;
    margin-right: 1em;
}

.search_box {
    background-color: #666;
    margin-top: -1em;
    margin-bottom: 1em;
}

.search .comment {
    padding-left: 1em;
    color: #eee;
}

.userinfo .avatar {
    float: left;
    width: 60px;
    margin-right: 1em;
}

.userinfo .info {
    float: left;
}

.userinfo .label {
    font-weight: bold;
}

blockquote {
    /*border-left: 1em solid #ccc;*/
    color: #666;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    background-color: #ddd;
}

.post blockquote a {
    color: #666;
}

em {
    font-weight: bold;
}

.notice .inner {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 0.8em;
    margin-bottom: 1em;
    font-size: 1em;
}

.users .user {
    list-style-type: none;
    list-style-position: inside;
    margin-bottom: 0.5em;
}

.users .user .author {
    font-size: 1.2em;
}

.filter_form {
    display: inline;
    padding-left: 1em;
}

.filter_form input {
    display: inline;
}
