{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block head_extra %}
    <script type="text/javascript" src="/static/pybb/js/markitup/jquery.markitup.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/pybb/js/markitup/skins/markitup/style.css" />

    <link rel="stylesheet" type="text/css" href="/static/pybb/js/markitup/sets/{{ user.pybb_profile.markup }}/style.css" />
    <script type="text/javascript" src="/static/pybb/js/markitup/sets/{{ user.pybb_profile.markup }}/set.js"></script>

    <script type="text/javascript">
    $(function() {
        $("textarea").markItUp(mySettings);
    });
    </script>
{% endblock %}

{% block content %}

{% include "pybb/pm/common.html" %}

<form method="post" action=".">
    <fieldset>
        <legend>{% trans "New private message" %}</legend>
        {{ form.as_p }}
        <p><input type="submit" value="{% trans "Submit" %}" /></p>
    </fieldset>
</form>

{% endblock %}
