{% extends 'pybb/base.html' %}
{% load i18n %}
{% load pybb_extras %}

{% block head_extra %}{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}pybb/js/pm.js"></script>
<script type="text/javascript">
var lang={deleting_messages_are_you_sure:"{% trans "Are you sure you want to delete these messages?" %}"};
</script>
{% endblock %}

{% block content %}
{% include "pybb/pm/common.html" %}
<h1>{{ messagebox_name }}</h1>

{% if messages %}

{% pybb_pagination _('Messages') %}

<form action="." method="post" class="pm" id="multiaction">
<p>{% trans "Select messages:" %}
<a href="javascript://" id="aselect_all">{% trans "All" %}</a> |
<a href="javascript://" id="aselect_none">{% trans "None" %}</a> |
<a href="javascript://" id="aselect_read">{% trans "Read messages" %}</a> |
<a href="javascript://" id="aselect_unread">{% trans "Unread messages" %}</a>

<label>{% trans "With selected:" %} <select name="action" id="actionselect" disabled="disabled">
<option value="">&nbsp;</option>
<option value="delete">{% trans "Delete" %}</option>
<option value="mark_read">{% trans "Mark as read" %}</option>
<option value="mark_unread">{% trans "Mark as unread" %}</option>
</select></label>
</p>
<table class="pm">
    <tr>
        <th></th>
        <th>{% ifequal messagebox 'outbox' %}{% trans "to" %}{% else %}{% trans "From" %}{% endifequal %}</th>
        <th>{% trans "Subject" %}</th>
        <th>{% trans "Created" %}</th>
    </tr>
    {% for m in messages %}
    <tr{% if not m.thread_read %} class="new"{% endif %}>
        <td><input type="checkbox" name="thread{{m.message.thread_id}}" value="1" class="selectcb" /></td>
        <td class="author">{% ifequal messagebox 'outbox' %}{{ m.message.dst_user|pybb_profile_link }}{% else %}{{ m.message.src_user|pybb_profile_link }}{% ifnotequal m.message_count 1 %}, {{ m.message.dst_user|pybb_profile_link }} ({{m.message_count}}){% endifnotequal %}{% endifequal %}</td>
        <td class="subject"><a href="{% if m.thread_read %}{% url pybb_pm_show_thread m.box m.message.thread_id %}{% else %}{% url pybb_pm_show_unread m.box m.message.thread_id %}{% endif %}" >{{ m.message.subject }}</a></td>
        <td class="date">{% pybb_time m.message.created %}</td>
    </tr>
    {% endfor %}
</table>
</form>

{% pybb_pagination _('Messages') %}

{% else %}
<p>{% trans "This messagebox is empty" %}</p>
{% endif %}

{% endblock %}
