{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block head_extra %}
    <script type="text/javascript" src="/static/pybb/js/markitup/jquery.markitup.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/pybb/js/markitup/skins/markitup/style.css" />

    <link rel="stylesheet" type="text/css" href="/static/pybb/js/markitup/sets/{{ user.pybb_profile.markup }}/style.css" />
    <script type="text/javascript" src="/static/pybb/js/markitup/sets/{{ user.pybb_profile.markup }}/set.js"></script>

    <script type="text/javascript">
    $(function() {
        $("textarea").markItUp(mySettings);
    });
    </script>
{% endblock %}

{% block content %}

{% include "pybb/pm/common.html" %}

{% pybb_pagination _('Messages') %}

<ul class="posts">
    {% if first_message %}{% ifnotequal first_message messages.0 %}
        {% with first_message as mb %}
        <li class="first_message">{% include "pybb/pm/message_template.html" %}</li>
        {% endwith %}
    {% endifnotequal %}{% endif %}
    {% for mb in messages %}
        <li>{% include "pybb/pm/message_template.html" %}</li>
    {% endfor %}
</ul>

{% pybb_pagination _('Messages') %}

{% ifequal messagebox "inbox" %}
<form method="post" action="{% url pybb_create_pm %}">
    <fieldset>
        <legend>{% trans "Reply" %}</legend>
        {{ form.as_p }}
        <p><input type="submit" value="{% trans "Submit" %}" /></p>
    </fieldset>
</form>
{% endifequal %}

{% endblock %}
