{% load i18n %}

{% if is_paginated %}
<div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="previous">← {% trans "previous page" %}</a>
        {% endif %}
        {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next%}
            <a href="?page={{ page_obj.next_page_number }}" class="next">{% trans "next page" %} →</a>
        {% endif %}
</div>
{% endif %}