django>=1.7,<1.8

# required for django < 1.7
#south
Markdown
postmarkup

# TODO: remove dependencies
django-annoying
django-pure-pagination
sorl-thumbnail
pytils

# Theme, templates and authentication
django-simple-captcha
pinax-theme-bootstrap
django-bootstrap-form
django-user-accounts
