django>=1.8,<1.11
pillow

Markdown
postmarkup

# TODO: remove dependencies
django-annoying
django-pure-pagination
sorl-thumbnail
unidecode

# Theme, templates and authentication
django-simple-captcha
pinax-theme-bootstrap<6.0
django-bootstrap-form
django-user-accounts
