django>=1.7,<1.8

#required to use with django<1.7
#south

#example_bootstrap dependencies
django-registration-redux

#pybb strong dependencies
django-annoying
bbcode
Pillow>=2.7,<2.8

#for test purpose only
#lxml
#markdown
