body {
    width:100%;
    min-width:800px;
    margin:0;
    padding:0;
}

/* Header styles */
#header {
    clear:both;
    float:left;
    width:100%;
}

/* column container */
.colmask {
    position:relative;
    clear:both;
    float:left;
    width:100%;
    overflow:hidden;
    padding-top: 10px;
}
/* common column settings */
.colright,
.colmid,
.colleft {
    float:left;
    width:100%;
    position:relative;
}
.col1,
.rightmenu .col2,
.rightmenu .col3,
.leftmenu .col2,
.leftmenu .col3{
    float:left;
    position:relative;
    /*padding:0 0 1em 0;*/
    overflow:hidden;
}

/* 2 column right menu settings */
.rightmenu .colleft {
    float:left;
    width:200%;
    margin-left:-320px;
    position:relative;
    right:100%;
}
.rightmenu .col1wrap {
    float:left;
    width:50%;
    position:relative;
    left:50%;
    padding-bottom:1em;
}
.rightmenu .col1 {
    margin:0 15px 0 345px;
    overflow:hidden;
}
.rightmenu .col2 {
    float:right;
    width:300px;
    position:relative;
    left:320px;
}

/* 2 column left menu settings */
.leftmenu .colright {
    float:left;
    width:200%;
    position:relative;
    left:200px;
}
.leftmenu .col1wrap {
    float:right;
    width:50%;
    position:relative;
    right:200px;
    padding-bottom:1em;
}
.leftmenu .col1 {
    margin:0 15px 0 215px;
    position:relative;
    right:100%;
    overflow:hidden;
}
.leftmenu .col2 {
    float:left;
    width:170px;
    position:relative;
    right:185px;
}


/* Full page settings */
.fullpage {
    background:#fff;
}
.fullpage .col1 {
    width:96%;
    left:2%;
}
/* Footer styles */
#footer {
    clear:both;
    float:left;
}