{% extends 'base.html' %}
{% load common_extras %}

{% block menu %}
<li><div class="left"><div class="right">
    <a href="/">Начало</a>
</div></div></li>
<li><div class="left"><div class="right">
    <a href="{{ list_url }}">{{ verbose_name_plural }}</a>
</div></div></li>
<li class="select"><div class="left"><div class="right">
    {{ new_name }}
</div></div></li>
{% endblock %}

{% block content %}
<h2>{{ verbose_name }}: создание</h2>
<form method="post">
    {{ form.as_p }}
    <p><input type="submit" value="Сохранить" /></p>
</form>
{% endblock %}
