{% extends 'base.html' %}
{% load common_extras %}

{% block subhead %}
{% if filter_form %}
<form method="get" class="filter_form">
    <fieldset>
        {{ filter_form }}
        <input type="submit" value="Искать" />
    </fieldset>
</form>
{% endif %}
{% if sort_form %}
<div class="filter_form">
    <form method="get">
        {{ sort_form.sort_field }}
        <input type="submit" value="Сортировать" />
    </form>
</div>
{% endif %} 
{% endblock %}

{% block content %}
<div>
    {% pagination %}
</div>
{% if create_url %}
<div class="block">
    <a href="{{ create_url }}">Создать объект</a>
</div>
{% endif %}
<table class="edit_list">
    <thead>
    <tr class="top">
        {% for header in headers %}
        <th>{{ header }}</th>
        {% endfor %}
        {% if delete_url %}
        <th>Удалить</th>
        {% endif %}
    </tr>
    </thead>
    {% for object in objects %}
    <tr>
        <td><strong>{% edit_link object object %}</strong></td>
        {% for obj in object.extra__ %}
        <td class="{% if obj.mark_good %}good{% endif %}">
            {{ obj.value }}
        </td>
        {% endfor %}
        {% if delete_url %}
        <td><a href="{{ object.get_delete_url }}">удалить</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<div>
    {% pagination %}
</div>
{% endblock %}
