<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
    <title>pybb demo</title>
    <meta name="description" content="pybb demo" />
    <meta name="keywords" content="pybb" />

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        
    <link href="{{ MEDIA_URL }}pybb/css/style.css" type="text/css" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" href="{% url pybb_feed "posts" %}" title="Last posts on forum" />
    <!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />-->
    <script type="text/javascript" src="{{ MEDIA_URL }}pybb/js/jquery.js"></script>
    <!--<script type="text/javascript" src="{{ MEDIA_URL }}pybb/js/rounded_corners.inc.js"></script>-->
    <!--<script type="text/javascript" src="{{ MEDIA_URL }}pybb/js/corners_init.js"></script>-->

    <!-- Highlightjs goodies -->
    <script type="text/javascript" src="{{ MEDIA_URL }}/pybb/js/highlight.js"></script>
    <script type="text/javascript">
      hljs.initHighlightingOnLoad();
    </script>
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}/pybb/css/hljs_styles/idea.css" />
    {% block extra_meta %}{% endblock %}
</head>
<body>
    <div class="head_box">
        <div class="head main-box">
            {% include 'pybb/head.html' %}
        </div>
    </div>

    <div class="content_box">
        <div class="content main-box">
        {% block content %}{% endblock %}
        </div>
    </div>

    <div class="footer_box">
        <div class="footer main-box">
            <div class="inner">
                <div class="left copyright">&copy; <a href="http://pybb.org" title="PYBB - django forum engine">pybb.org</a>
            </div>    
            <div class="right">
            </div>
            <div class="clear"></div>
            </div>
        </div>
    </div>
</body>
</html>
