{% extends 'base.html' %}
{% load board_extras %}

{% block content %}
<div class="crumbs">
{% if forum %}
    <a href="{% url index %}">Index</a> / {% link forum.category %} / {% link forum %}
{% else %}
    <a href="{% url index %}">Index</a> / {% link topic.forum.category %} / {% link topic.forum %} / {% link topic %}
{% endif %}
</div>

<h1>{% if forum %}New topic{% else %}New reply{% endif %}</h1>

<form action="{% if forum %}{% url add_topic forum.id %}{% else %}{% url add_post topic.id %}{% endif %}" method="post">
    <fieldset>
        <legend>new reply</lenend>
            {{ form.as_p }}
            <p><input type="submit" /></p>
        </legend>
    </fieldset>
</form>

{% endblock %}
