{% extends 'base.html' %}
{% load pybb_extras %}

{% block content %}
<div class="crumbs">
    <a href="{% url index %}">Начало</a> / {% link category %}
</div>
<div class="splitted">
    <div class="left">
        <ul class="tablist">
            <li class="tablist-row">
                <h3 class="header">{{ category }}</h3>
                <ul class="tablist-inner">
                {% for forum in category.forums.all %}
                <li class="tablist-inner-row">{% link forum %}
                <span class="post_count">{{ forum.posts.count }}</span>
                <span class="updated">{{ forum.last_post.created|pybb_time }}</spaN
                </li>
                {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="right">
        {% include 'pybb/quick_access.html' %}
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
