{% extends 'pybb/base.html' %}
{% load pybb_extras %}

{% block content %}
<h1>Profile editing</h1>
{% if profile.avatar %}
<img src="{{ profile.avatar.url }}" />
{% endif %}
<form method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Profile editing</lenged>
        {{ form.as_p }}
        <p><input type="submit" /></p>
    </fieldset>
</form>
<h1>Topic subscriptions</h1>
<ul>
{% for sub in user.subscriptions.all %}
<li>
{% link sub %}
&mdash;
<strong>
    <a href="{% url pybb_delete_subscription sub.id %}">delete</a>
</strong>
</li>
{% endfor %}
</ul>
{% endblock %}
