{% load pybb_extras %}
<div class="logo">
    <a href="{% url index %}">PYBB</a>
</div>
<h2 class="description">Django based forum engine</h2>
<ul class="navigation">
    {% if user.is_authenticated %}
    <li><a href="{% url auth_logout %}">Logout</a></li>
    <li>You have logged in as {{ user|profile_link }}</li>
    {% else %}
    <li><a href="{% url registration_register %}">Registration</a></li>
    <li><a href="{% url auth_login %}">Login</a></li>
    {% endif %}
    <li><a href="{% url pybb_feed "posts" %}" /><img src="{{ MEDIA_URL }}/pybb/img/feed-icon-small.png" /></a></li>
</ul>
<div class="clear"></div>
