{% extends 'base.html' %}
{% load pybb_extras %}
{% load pybb_extras %}

{% block content %}
<div class="splitted">
    <div class="left">
        <ul class="tablist">
        {% for cat in cats %}
            <li class="tablist-row category corners">
                <h3 class="header">{% link cat %}</h3>
                <ul class="tablist-inner">
                    {% for forum in cat.forums.all %}
                    <li class="tablist-inner-row forum">
                    {% if forum|has_unreads:user %}<span class="unread"></span>{% endif %}
                    {% link forum %}
                    <span class="post_count">{{ forum.posts.count }}</span>
                    {% if forum.posts.count %}
                    <span class="updated">{{ forum.last_post.created|pybb_time }}</span>
                    {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="right">
        {% include 'pybb/quick_access.html' %}
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
