{% extends 'base.html' %}
{% load pybb_extras %}
{% load pybb_extras %}

{% block content %}
<div class="crumbs">
    <a href="{% url index %}">Index</a> / {% link topic.forum.category %} / {% link topic.forum %} / {% link topic %}
</div>
<ul class="tablist">
    <li class="tablist-row postlist-row">
        <h3 class="header">{{ topic }}</h3>
        <ul class="tablist-inner">
        {% for post in topic.posts.all %}
            <li class="tablist-inner-row post">
                <div class="post-inner">
                    <div class="info"
                        <span class="author">{{ post.user|profile_link }}</span>
                        &rarr;
                        <span class="time">{{ post.created|pybb_time }}</span>
                    </div>
                    <div class="content">
                        {{ post.body_html|safe }}
                    </div>
                </div>
                <div style="clear: both"></div>
            </li>
        {% endfor %}
        </ul>
    </li>
</ul>
<form action="{% url add_post topic.id %}" method="post">
    <fieldset>
        <legend>new reply</lenend>
            {{ form.as_p }}
            <p><input type="submit" /></p>
        </legend>
    </fieldset>
</form>
{% endblock %}
